.form-container {
  @include box-shadow;
  min-width: 400px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;

  .input-container {
    padding-bottom: 20px;

    input {
      border: none;
      outline: none;
      background: $theme-gray;
      padding: 10px;
      border-radius: 5px;
      width: 96%;
      font-family: "Josefin Sans", sans-serif;

      &::placeholder {
        opacity: 0.5;
      }
    }
  }

  button {
    width: 100%;
  }

  hr {
    margin: 30px;
    border: none;
    outline: none;
    border-top: 2px solid $theme-gray;
  }

  .form-info-text {
    text-align: center;
    color: $theme-primary;
    margin: 30px;
  }
}

.form-error-text {
  color: $theme-secondary;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 0.9rem;
}
.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .task-info-box {
    @include box-shadow;
    min-width: 400px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 5px 0;
    }
    .completed-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4CAF50; /* Green background color */
      color: white; /* Text color */
      border: none;
      border-radius: 4px;
      padding: 8px 16px; /* Adjust padding as needed */
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 20px; /* Adjust font size as needed */
    }
    .delete-button {
      background-color: #ff3333; // Red background color
      color: #fff; // White text color
      border: none;
      padding: 8px 16px; // Adjust padding as needed
      border-radius: 4px; // Rounded corners
      cursor: pointer;
      transition: background-color 0.3s; // Smooth background color transition
    
      &:hover {
        background-color: #cc0000; // Darker red on hover
      }
    }
    /* Styling for the done button */
    .done-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0fbd2c; /* Blue background color */
      color: white; /* Text color */
      border: none;
      border-radius: 4px;
      padding: 8px 16px; /* Adjust padding as needed */
      cursor: pointer;
      font-size: 14px; /* Adjust font size as needed */
    }
    
    /* Hover effect for both buttons */
    .completed-button:hover, .done-button:hover {
      opacity: 0.8;
    }
    .button-container {
      display: flex;
      align-items: center;

      .accept-button,
      .decline-button {
        margin: 0 5px;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        white-space: nowrap; /* Prevent button from wrapping to the next line */

        &:hover {
          background-color: #0056b3;
        }

        & + .decline-button {
          background-color: #dc3545;

          &:hover {
            background-color: #bb2124;
          }
        }
      }
    }
  }
}


